@model List<SLUIDBModels.ContactSearchResult>


@{
    ViewBag.Title = "Add Contact";
}

<h2>Add Contact</h2>

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm("ContactSearch", "Contact", FormMethod.Get))
    {

        <div class="form-group">
            @Html.Hidden("objectID", (int)ViewBag.ObjectID)
        </div>
      
        <div class="form-group">
            @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("LastName", null, new { @class = "form-control" } )
            </div>
        </div>

        <div class="form-group">
            @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("FirstName", null, new { @class = "form-control" } )
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Contact Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ContactType", new SelectList(ViewBag.ContactTypes), new{ @class = "form-control"})
            </div>
        </div>
    
        
      

        <input type="submit" value="Search" class="LinkButton"/>
        <br />
        <br />
        <br />

        if (Model != null)
        {
            <table class="table">

                <tr>
                    <th>
                        @Html.DisplayName("IRISID")
                    </th>
                    <th>
                        @Html.DisplayName("First Name")
                    </th>
                    <th>
                        @Html.DisplayName("Last Name")
                    </th>
                    <th>
                        @Html.DisplayName("Address")
                    </th>

                    <th>
                        @Html.DisplayName("Email")
                    </th>

                    <th>
                        @Html.DisplayName("Phone")
                    </th>

                    <th>
                        @Html.DisplayName("")
                    </th>

                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.IrisContactID.ToString(), "NavigateToIRISContactScreen", "Farm", new { IRISID = item.IrisContactID}, new { @class = "LinkButton" })
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name.Split(' ')[0])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name.Split(' ')[item.Name.Split(' ').Length - 1])
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PrimaryEmail)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PrimaryPhone)
                    </td>

                    <td>
                        @Html.ActionLink("Add", "SelectRelationship", new { ObjectID = (int)ViewBag.ObjectID, RelationshipTypeID = 0, IRISID = item.IrisContactID },new { @class = "AddButton" })
                    </td>
                </tr>

                }
            </table>

        }

    }
</div>


