<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Horizons Farm Management </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-text navbar-left" style=" text-align: center;">
                @Html.ActionLink("Horizons Farm Management (BETA)", "Farms", "Farm", new { area = "" }, new { style = "line-height: 50px; color:white; font-family: Calibri,Calibri,Calibri; font-size:xx-large" })
            </div>
            

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
          </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 


</body>





</html>
